<div class="container" id="project-list">
    <h1>Project list</h1>
    <!--TODO: should auto generate these -->
    <div class="nav">
        <a href="#/"><h4>Home</h4></a>
    </div>

    <h3>Own projects</h3>

    <div class="list-con">
        <ul>
            <li>assets-bower-ci A front end assets management tool for php framework</li>
            <li>scala-linter A compiler plugin for scala dead code detection</li>
        </ul>
    </div>

    <h3>Group projects</h3>

    <div class="list-con">
        <ul>
            <li>bmfu A php orm based on Codeignitor's query builder</li>
        </ul>
    </div>

    <h3>Contributed to</h3>
    <div class="list-con">
        <ul>
            <li>phalcon debug widget</li>
            <li>scala documentation</li>
        </ul>
    </div>
</div>