<div class="container" id="project-list">
    <div class="nav">
        <a href="#/"><h4>Home</h4></a>
    </div>
    <h1>Projects</h1> <span>open source only</span>
    <!--TODO: should auto generate these -->



    <h3>Distributed system related</h3>

    <div class="list-con">
        <ul>
            <li>
                <a href="https://github.com/at15/cs433">
                    B+ index for Hive
                </a>
            </li>
            <li>
                <a href="https://github.com/at15/forum-search">
                    forum-search
                </a>
                Craw and build inverted index using Mapreduce
            </li>
        </ul>
    </div>

    <h3>Programming language related</h3>

    <div class="list-con">
        <ul>
            <li><a href="https://github.com/at15/scala-linter" target="_blank">scala-linter</a>
                A compiler plugin for scala dead code detection
            </li>
        </ul>
    </div>


    <h3>Web development related</h3>

    <div class="list-con">
        <ul>
            <li>
                <a href="https://github.com/dyweb/bmFu" target="_blank">bmfu</a>
                A php orm & rest service provider based on Codeignitor's query builder
            </li>
            <li>
                [Deprecated]
                <a href="https://github.com/at15/assets-bower-ci" target="_blank">assets-bower-ci</a>
                A front end assets management tool for php framework (a naive webpack)
            </li>
            <li>
                <a href="https://github.com/dyweb/ring" target="_blank">ring</a>
                Abstraction for php image/file upload using different backend
            </li>
        </ul>
    </div>

    <h3>Utils</h3>

    <div class="list-con">
        <ul>
            <li>
                <a href="https://github.com/dyweb/Ayi" target="_blank">Ayi</a>
                Put all your command in one command
            </li>
        </ul>
    </div>

    <h3>Contributed to</h3>

    <div class="list-con">
        <ul>
            <li><a href="https://github.com/scala/scala.github.com" target="_blank">scala documentation</a></li>
            <li><a href="https://github.com/kairosdb/kairosdb" target="_blank">kairosdb</a></li>
            <li><a href="https://github.com/orientechnologies/orientdb-docs" target="_blank">oritentdb doc</a></li>
            <li><a href="https://github.com/sb2nov/mac-setup" target="_blank">mac setup</a></li>
            <li><a href="https://github.com/jymboche/phalcon-debug-widget" target="_blank">phalcon debug widget</a></li>
        </ul>
    </div>
</div>