<div class="container" id="project-list">
    <h1>Project list</h1>
    <!--TODO: should auto generate these -->
    <div class="nav">
        <a href="#/"><h4>Home</h4></a>
    </div>

    <h3>Own projects</h3>

    <div class="list-con">
        <ul>
            <li><a href="https://github.com/at15/assets-bower-ci" target="_blank">assets-bower-ci</a> A front end assets
                management tool for php framework
            </li>
            <li><a href="https://github.com/at15/scala-linter" target="_blank">scala-linter</a> A compiler plugin for
                scala dead code detection
            </li>
        </ul>
    </div>

    <h3>Group projects</h3>

    <div class="list-con">
        <ul>
            <li><a href="https://github.com/dyweb/bmFu" target="_blank">bmfu</a> A php orm based on Codeignitor's query
                builder
            </li>
        </ul>
    </div>

    <h3>Contributed to</h3>

    <div class="list-con">
        <ul>
            <li><a href="https://github.com/jymboche/phalcon-debug-widget" target="_blank">phalcon debug widget</a></li>
            <li><a href="https://github.com/scala/scala.github.com" target="_blank">scala documentation</a></li>
        </ul>
    </div>
</div>