<div class="container" id="about-page">
    <div class="nav">
        <a href="#/"><h4>Home</h4></a>
    </div>
    <h1>
        <img class="about-avatar" src="https://avatars1.githubusercontent.com/u/5621298" alt="at15 avatar">
        <span>About at15 (Pinglei Guo)</span>
    </h1>
    <div>
        I am a senior student in Shanghai Jiao Tong University, major in Materials science,
        though I spent most of my time on web development
    </div>
    <div>
        <h5>publications</h5>
        <ul>
            <li>
                <a href="/pvguo/publication/cpu_load_prediction.pdf" target="_blank">
                    CPU load prediction based on a multidimensional spatial voting model
                </a>
            </li>
        </ul>
    </div>
</div>