<div class="container" id="about-page">
    <h1>About at15</h1>
    <div class="nav">
        <a href="#/"><h4>Home</h4></a>
    </div>
    <pre>
           I am a student in sjtu, major in mse, working in dongyuewebstudio.
           I like programming but I like girls more~.
           I use php and javascript for most of my projects, I am interested in scala these days, thanks to xyp.
           Also I am trying to design a new php framework which will rock php like what rails have done to ruby. ( I know I am
        day dreaming)
           E... that's all I guess.
    </pre>
</div>