<div class="container" id="about-page">
    <div class="nav">
        <a href="#/"><h4>Home</h4></a>
    </div>
    <h1>
        Friends
    </h1>

    <div>
        Links to those who has a blog and still updating
    </div>

    <div>
        <ul>
            <li>
                <a href="http://arrowrowe.me" target="_blank" title="mie">arrowrowe</a> the one and only mie, ready for roast ...
            </li>
            <li>
                <a href="http://gaocegege.com/Blog/" target="_blank" title="cece">gaocegege</a> creating wheel and dig big wholes
            </li>
        </ul>
    </div>
</div>