#poster > img {
    width: 100%;
    height: auto;
}

#switch-con {
    padding: 20px;

    text-align: center;
}

#switch-con a {
    color: #5c5c5c;
    text-decoration: none;
}

#switch-con a:hover {
    color: #000000;
}

#blog-list,
#project-list {
    min-height: 85%;
}

#footer {
    position: relative;

    height: 18%;

    background-color: #000000;
}

#footer > .copy-right {
    position: absolute;
    bottom: 20px;
    right: 20px;

    color: white;
}